/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES CSS */
:root{
    --header-height: 3rem;

/* COLORS */
    --body-bg: #f5f8ff;
    --box-bg: #fff;
    --input-bg: #f5f8ff;
    --txt-color: #2f2d2f;
    --txt-second-color: #aeadad;
    --border-color: #6666ff;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  /* FONT AND TYPOGRAPHY */
    --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px | 1rem = 16px */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .625rem;

  /* FONT WEIGHT */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

  /* MARGENES BOTTOM */
  /* .5rem = 8px | 1rem = 16px */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

}

/* ========= BASE ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-bg);
    color: var(--txt-color);
    font-weight: var(--font-normal);

    height: 100vh;
}
h1{
  color: var(--border-color);
  font-weight: var(--font-semi-bold);
}
h2,h3 {
  color: var(--txt-color);
  font-weight: var(--font-semi-bold);
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* ========= LAYOUT ========= */

.box {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

    background-color: var(--box-bg);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    height: 340px;
    width: 464px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.title{
    text-align: center;
}
.subtitle{
    text-align: center;
    margin-bottom: var(--mb-1);
}
/* ========= BUTTONS ========= */
.button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: flex;
  background-color: var(--border-color);
  color: var(--box-bg);
  font-weight: var(--font-medium);
}
.button__download{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 1rem 1.75rem;
    /* border-radius: 2rem; */
    align-items: center;

    color: var(--txt-second-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);

    /* border: 2px solid var(--border-color); */
    border-radius: 20px;
    background-color: var(--input-bg);
}
.button__send{
    padding: 1rem 1.75rem;
    border-radius: 2rem;
}

.button:hover{
  background-color: var(--txt-second-color);
}
.button:disabled{
    background-color: var(--txt-second-color);
}

.button--flex{
  display: inline-flex;
  align-items: center;
}


